* {
  box-sizing: border-box;
}

:root {
  --primary-color: #8CD320;
  --hover-color: #ADFF2F;
  --white: #fff;
  --black: #000;
  --dark-grey: #3a3a3a;
  --dark-light: #FFFFFF66;
  --light-white: #FFFFFFCC;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* ====
   NAVBAR
   ====
*/


