* {
  box-sizing: border-box;
}

:root {
  --primary-color: #8CD320;
  --hover-color: #ADFF2F;
  --white: #fff;
  --black: #000;
  --dark-grey: #3a3a3a;
  --dark-light: #FFFFFF66;
  --light-white: #fffc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  position: relative;
  max-width: 2880px;
  min-width: 320px;
}

/* ====
   NAVBAR
   ====
*/

header {
  --nav-size: 40px;
  width: 100%;
  background-image: url('../images/halo-infinite-cover.jpeg');
  background-position: center var(--nav-size);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}

nav {
  width: 100%;
  min-height: var(--nav-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

nav ul {
  display: none;
}

.mobile {
  width: 100%;
}

.mobile .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile a {
  text-decoration: none;
  color: var(--black);
}

.mobile .header button {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile .header .logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0.8em 0;
  max-width: 150px;
}

.mobile .header .logo img {
  width: 100%;
}

.mobile .header div a {
  display: inline-flex;
  padding: 0 .7em;
}

.mobile .links {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: var(--white);
}

.mobile .links.active {
  display: flex;
  flex-direction: column;
}

.mobile .links a {
  font-size: 1.1rem;
  padding: 0.7em 1.3em;
}

.mobile .links a:hover {
  background-color: var(--black);
  color: var(--white);
}

/* ====
   Banner Hero
   ====
*/

.hero {
  margin: 0.7em 0;
  background-color: var(--white);
}

.hero__content {
  text-align: center;
  padding: 0 1em;
}

.title {
  margin: 1em 0;
  font-size: 3.4rem;
  position: relative;
}

.title::after {
  --width-form: 120px;
  content: "";
  position: absolute;
  left: calc(50% - var(--width-form) / 2);
  bottom: -35px;
  display: block;
  width: var(--width-form);
  height: 20px;
  clip-path: polygon(5% 0, 100% 0, 94% 100%, 0% 100%);
  background-color: var(--primary-color);
}

.primary__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2em;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--black);
  cursor: pointer;
}

.hero__btn {
  width: 30%;
  max-width: 200px;
  min-width: 160px;
  margin: 6em auto 3.2em;
}

.hero__content p {
  font-size: 1.6rem;
  margin-bottom: 1.4em;
}

.secundary__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
}


/* ====
   Videos section
   ====
*/

.videos {
  padding-top: 1em;
  padding-bottom: 3em;
  background-image: url('../images/bg-videos.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.videos__info {
  width: 80%;
  margin: 0 auto 4em;
}

.videos__title::after {
  width: calc(var(--width-form) - 30px);
  left: calc(50% - ((var(--width-form) - 30px) / 2));
}

.videos__text {
  font-size: 1rem;
  line-height: 1.4rem;
}

.videos__controls h4 {
  font-size: 1.6rem;
}

.videos__controls .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 160px;
  margin: 0 auto 2.8em;
  color: var(--white);
  background-color: var(--dark-grey);
}

.videos__controls .controls .left__control {
  border-right: 0.5px solid var(--dark-light);
}

.videos__controls .controls .left__control span {
  transform: rotate(180deg);
}

.videos__controls .controls > div {
  width: 100%;
  padding: 0.3em 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in 250ms;
}

.videos__controls .controls > div:hover {
  background-color: var(--dark-light);
}

.videos__controls .controls span {
  font-size: 2.4rem;
}

/* Styles for the videos generating with JS */
.videos__list {
  display: none;
}

.current {
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: 0 auto 4em;
}

.video__iframe {
  width: 100%;
  height: 100%;
}


/* ====
   Multiplayer section
   ====
*/

.multiplayer {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url('../images/bg-multiplayer.jpeg');
  background-size: cover;
  background-position: -200px 0;
}

.multiplayer__info {
  max-width: 600px;
  margin: 0 1em;
  padding: 2.5em 1.8em;
  background-color: var(--light-white);
}

.multiplayer__title {
  margin-top: 0;
}

.multiplayer__info p {
  margin-top: 3.3em;
  font-size: 1.2rem;
}

.multiplayer__title::after {
  width: calc(var(--width-form) + 40px);
  left: calc(50% - ((var(--width-form) + 40px) / 2));
}

/* ====
   Get the Game section
   ====
*/

.game__title {
  text-align: center;
}

.game__info {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__info figure {
  margin: 0;
  max-width: 300px;
}

.game__info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game__details {
  width: 90%;
  text-align: center;
}

.game__details h4 {
  margin: 0.4em 0 0.8em;
  font-size: 1.8rem;
}

.game__details p {
  line-height: 1.4rem;
}

.game__details select {
  margin-bottom: 1.5em;
}

.game__button {
  padding: 1em 3em;
  font-size: 0.9rem;
  margin: 0 auto;
}


/* ====
   Footer
   ====
*/

footer {
  margin-top: 5em;
  height: 400px;
  background-image: url('../images/master-chief.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

